.inner-main {
  padding-top: 91px;

  .content-article {
    width: 100%;
    position: relative;
    max-width: 1296px;
    margin: 0 auto;
    padding-bottom: 102px;

    &.wrap_home {
      padding-bottom: 200px;
    }

    .cont_home {
      .cont_main {
        margin: 0 auto;

        // 1번 섹션 작업시 지우고 작업 진행 - start
        &.area_banner {
          height: 486px;
          border: 1px solid red;
        }
        // 1번 섹션 작업시 지우고 작업 진행 - end

        // 2번 섹션 작업시 지우고 작업 진행 - start
        &.area_story {
          height: 437px;
          border: 1px solid orange;
        }
        // 2번 섹션 작업시 지우고 작업 진행 - end

        // 3번 섹션 작업시 지우고 작업 진행 - start
        &.area_service {
          height: 526px;
          border: 1px solid yellow;
        }
        // 3번 섹션 작업시 지우고 작업 진행 - end

        // 4번 섹션 작업시 지우고 작업 진행 - start
        &.area_new {
          height: 748px;
          border: 1px solid green;
        }
        // 4번 섹션 작업시 지우고 작업 진행 - end

        // 5번 섹션 작업시 지우고 작업 진행 - start
        &.area_responsible {
          height: 748px;
          border: 1px solid blue;
        }
        // 5번 섹션 작업시 지우고 작업 진행 - end

        // 6번 섹션 작업시 지우고 작업 진행 - start
        &.area_help {
          height: 678px;
          border: 1px solid violet;
        }
        // 6번 섹션 작업시 지우고 작업 진행 - end

        &.area_banner {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
        }

        &:not(.area_story) {
          max-width: 1712px;
        }
      }
    }
  }
}

@media screen and (max-width: 1902px) {
  .inner-main {
    .content-article {
      &.wrap_home {
        padding-bottom: 123px;
      }

      .cont_home {
        .cont_main {
          &:not(.area_story) {
            max-width: 1316px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .inner-main {
    padding-top: 84px;

    .content-article {
      max-width: 952px;

      &.wrap_home {
        padding-bottom: 80px;
      }

      .cont_home {
        .cont_main {
          &:not(.area_story) {
            max-width: 948px;
          }
        }
      }
    }
  }
}
