.cardContainer {
  width: 630px;
  height: 679px;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  .imageContainer {
    width: inherit;
    overflow: hidden;
    flex: 1;

    img {
      width: inherit;
      /* height: 300px; */
      object-fit: cover;
    }
  }

  .textContainer {
    width: inherit;
    flex: 1;
    padding: 32px;
    box-sizing: border-box;
  }
}

.title strong {
  overflow: hidden;
  display: -webkit-box;
  width: 100%;
  font-weight: bold;
  margin-top: 16px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
  font-size: 30px;
  letter-spacing: -0.8px;
}
.tags {
  font-size: 1em;
  margin-top: 32px;
}

@media (max-width: 1440px) {
  .cardContainer {
    width: 464px;
    height: 524px;
  }
  .title strong {
    font-size: 26px;
    letter-spacing: -0.5px;
  }
}

@media (max-width: 767px) {
  .cardContainer {
    width: 340px;
    height: 400px;
  }
  .title strong {
    margin-top: 12px;
    font-size: 16px;
  }
  .tags {
    font-size: 0.8em;
  }
}

.minicardContainer {
  text-align: initial;
  width: 220px;
  height: 130px;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  border-radius: 20px;
}

.category {
  text-align: center;
  font-size: 0.8em;
  display: inline-block;
  width: 68px;
  height: 30px;
  background-color: white;
  line-height: 30px;
  padding: 3px 6px;
  border-radius: 10px;
  letter-spacing: -1px;
}

.noLinkStyle {
  color: inherit;
  text-decoration: none;
}

.wrap_card {
  width: 630px;
  height: 670px;
}

.item_bottom_card {
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  user-select: none;

  .link_card {
    position: relative;
    display: block;
    z-index: 10;
    outline-offset: -3px;
    text-decoration: none;
    color: #333;
    -webkit-user-drag: none;
  }

  .wrap_cont {
    position: relative;
    display: block;
    box-sizing: border-box;
  }
  .wrap_thumb {
    position: relative;
    display: block;
    height: 354px !important;

    .thumb_img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      z-index: -1;
      height: 100%;
    }
  }
  .wrap_text {
    position: relative;
    padding: 40px;
    box-sizing: border-box;
  }
  .info_cate {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 46px;

    .ico_cate {
      width: 46px;
      height: 46px;
      margin-right: 12px;
    }
    .txt_cate {
      height: 41px;
      padding: 8px 16px;
      position: relative;
      border-radius: 8px;
      background-color: #fff;
    }
    .txt_cate,
    .txt_date {
      line-height: 1.79;
      box-sizing: border-box;
    }
    .txt_date {
      margin-left: 8px;
      color: #333;
    }
  }
  .tit_card {
    display: -webkit-box;
    overflow: hidden;
    height: 126px;
    margin-top: 16px;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -0.8px;
    white-space: normal;
    color: #000;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-weight: bolder;
  }
  .info_card {
    display: block;
    overflow: hidden;
    height: 26px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.73;
    color: #666;
    white-space: normal;

    .txt_keyword {
      display: inline-block;
      vertical-align: top;
      margin-right: 8px;
      letter-spacing: -0.5px;
    }
  }

  button.btn_share {
    background-color: transparent;
    cursor: pointer;
    color: #333;
    border: 0;
  }
  .btn_share {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 30px;
    bottom: 251px;
    z-index: 20;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;

    .ico_share {
      display: block;
      width: 24px;
      height: 24px;
      margin: 0 auto;
    }
    svg {
      vertical-align: top;
    }
  }
}

@media (max-width: 1439px) {
  .wrap_card {
    width: 464px;
    height: 524px;
  }
  .item_bottom_card {
    border-radius: 16px;
    .wrap_thumb {
      height: 260px !important;
    }
    .wrap_text {
      padding: 32px;
    }
    .info_cate {
      height: 36px;

      .ico_cate {
        width: 32px;
        height: 32px;
        margin-right: 8px;
        font-size: 13px;
        line-height: 1.38;
      }
      .txt_cate {
        height: 34px;
      }
      .txt_cate,
      .txt_date {
        font-size: 13px;
        line-height: 1.38;
      }
      .txt_date {
        margin-left: 8px;
        color: #333;
      }
    }
    .tit_card {
      height: 102px;
      font-size: 26px;
      line-height: 34px;
      letter-spacing: -0.5px;
    }
    .info_card {
      margin-top: 24px;
      height: 24px;
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: -0.2px;
    }
    .btn_share {
      right: 32px;
      bottom: 203px;
    }
  }
}

@media (max-width: 767px) {
  .wrap_card {
    width: 340px;
    height: 400px;
  }
  .item_bottom_card {
    .wrap_thumb {
      height: 190px !important;
    }
    .wrap_text {
      padding: 24px;
    }
    .info_cate {
      height: 32px;

      .ico_cate {
        margin-right: 4px;
      }
      .txt_cate {
        height: 30px;
        padding: 6px 12px;
      }
      .txt_cate,
      .txt_date {
        font-size: 12px;
        line-height: 18px;
      }
    }
    .tit_card {
      height: 78px;
      margin-top: 12px;
      font-size: 16px;
      line-height: 1.625;
    }
    .info_card {
      margin-top: 20px;
      height: 20px;
      font-size: 14px;
      line-height: 1.42;

      .txt_keyword {
        margin-right: 6px;
      }
    }
    .btn_share {
      right: 32px;
      bottom: 162px;
    }
  }
}
