.layout {
  header {
    &.doc-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      border: 0;
      background: #fff;
      transition: top 0.2s ease-in-out;
      z-index: 3000;
    }

    &.scroll {
      border-bottom: 1px solid #eee;
      z-index: 3100;
    }

    .inner_header {
      display: flex;
      align-items: center;
      position: relative;
      width: 1712px;
      margin: 0 auto;
      -webkit-box-pack: justify;
      justify-content: space-between;
      height: 91px;
    }

    a {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1902px) {
  header {
    &.doc-header {
      .inner_header {
        width: 1316px;
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  header {
    &.doc-header {
      .inner_header {
        width: 954px;
        height: 84px;
      }
    }
  }
}
